{{define "localTracker"}}
{{template "header" . }}
    <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Choose a Drive</h3>
          <div class="box-tools pull-right">
            <button href="" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

        <div class="box-body">
          <p>Choose a folder to track</p>
          
          <div>
            {{range .Contents.Drives}}
            <a href="?path={{ . }}" class="btn btn-success">{{ . }} Drive</a>
            {{end}}
          </div>

          <div class="box-body">
            {{range .Contents.SubFolders}}
            <a href="?path={{ . }}" class="btn btn-primary" style="margin-top:5px;">{{ . }}</a>
            {{end}}
          </div>

          <div class="alert">
            <h4><i class="icon fa fa-check"></i> Do you want to track this folder?</h4>
            <a href="?track={{ .Contents.Selected }}" class="btn btn-primary" style="margin-top:5px;">Track: {{.Contents.Selected}}</a>
          </div>

        </div>
    </div>

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Currently Tracking</h3>
        <div class="box-tools pull-right">
          <button href="" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      
      <div class="box-body">
        <p>These are all the folders currently tracked</p>
        {{range .Contents.TrackedFolders}}
          <a class="btn btn-danger" href="?untrack={{.Path}}">Untrack {{ .Path }} <i class="fa fa-times"></i></a>
        {{end}}
      </div>
  </div>
{{template "footer" . }}
{{end}}
